---
- name: Check if Helm is installed
  ansible.builtin.stat:
    path: "/usr/local/bin/helm"
  register: helm_check

- name: Download Helm installer script
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get_helm.sh
    mode: '0755'
  when: not helm_check.stat.exists

- name: Install Helm
  ansible.builtin.shell: /tmp/get_helm.sh
  args:
    creates: /usr/local/bin/helm
  when: not helm_check.stat.exists
