---
- name: Check if mise is installed
  ansible.builtin.stat:
    path: "/home/{{ target_user }}/.local/bin/mise"
  register: mise_check

- name: Install mise
  become: yes
  become_user: "{{ target_user }}"
  ansible.builtin.shell: |
    curl https://mise.run | sh
  when: not mise_check.stat.exists

- name: Add mise to user .bashrc
  ansible.builtin.lineinfile:
    path: "/home/{{ target_user }}/.bashrc"
    line: 'eval "$(mise activate bash)"'
    create: yes
    owner: "{{ target_user }}"

- name: Add mise to user .profile
  ansible.builtin.lineinfile:
    path: "/home/{{ target_user }}/.profile"
    line: 'eval "$(mise activate bash)"'
    create: yes
    owner: "{{ target_user }}"

- name: Configure mise in Staged Nushell Env
  ansible.builtin.blockinfile:
    path: "/home/{{ target_user }}/.ansible_nushell_env.nu"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (MISE)"
    create: yes
    block: |
      $env.PATH = ($env.PATH | prepend ($env.HOME + '/.local/bin'))
    owner: "{{ target_user }}"
