---
- name: Check if fnm is installed
  ansible.builtin.stat:
    path: "/home/{{ target_user }}/.fnm/fnm"
  register: fnm_check

- name: Download fnm installer
  ansible.builtin.get_url:
    url: https://fnm.vercel.app/install
    dest: /tmp/install_fnm.sh
    mode: '0755'
  when: not fnm_check.stat.exists

- name: Install fnm
  become: yes
  become_user: "{{ target_user }}"
  ansible.builtin.shell: /tmp/install_fnm.sh --install-dir "/home/{{ target_user }}/.fnm" --skip-shell
  when: not fnm_check.stat.exists

- name: Configure fnm in .bashrc
  ansible.builtin.blockinfile:
    path: "/home/{{ target_user }}/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (FNM)"
    block: |
      export PATH="/home/{{ target_user }}/.fnm:$HOME/.local/bin:$PATH"
      eval "`fnm env`"
    owner: "{{ target_user }}"

- name: Configure fnm in .profile
  ansible.builtin.blockinfile:
    path: "/home/{{ target_user }}/.profile"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (FNM)"
    block: |
      export PATH="/home/{{ target_user }}/.fnm:$HOME/.local/bin:$PATH"
      eval "`fnm env`"
    owner: "{{ target_user }}"

- name: Configure fnm in Staged Nushell Env
  ansible.builtin.blockinfile:
    path: "/home/{{ target_user }}/.ansible_nushell_env.nu"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (FNM)"
    create: yes
    block: |
      $env.PATH = ($env.PATH | prepend ($env.HOME + '/.fnm'))
      # Initialize fnm for nushell
      fnm env --json | from json | load-env
    owner: "{{ target_user }}"

- name: Check if Node is installed
  become: yes
  become_user: "{{ target_user }}"
  ansible.builtin.shell: |
    export PATH="/home/{{ target_user }}/.fnm:$PATH"
    eval "`fnm env`"
    node --version
  register: node_check
  failed_when: false
  changed_when: false

- name: Install Latest Node via fnm
  become: yes
  become_user: "{{ target_user }}"
  ansible.builtin.shell: |
    export PATH="/home/{{ target_user }}/.fnm:$PATH"
    eval "`fnm env`"
    fnm install --latest
    fnm default latest
  args:
    executable: /bin/bash
  when: node_check.rc != 0
