---
# --- RUST SETUP ---
- name: Check if Rust is installed
  ansible.builtin.stat:
    path: "/home/{{ target_user }}/.cargo/bin/rustup"
  register: rustup_check

- name: Download Rustup installer
  ansible.builtin.get_url:
    url: https://sh.rustup.rs
    dest: /tmp/sh.rustup.rs
    mode: '0755'
  when: not rustup_check.stat.exists

- name: Install Rust (User space)
  become: yes
  become_user: "{{ target_user }}"
  ansible.builtin.shell: /tmp/sh.rustup.rs -y
  when: not rustup_check.stat.exists

- name: Source Cargo in .bashrc
  ansible.builtin.lineinfile:
    path: "/home/{{ target_user }}/.bashrc"
    line: '. "$HOME/.cargo/env"'
    create: yes
    owner: "{{ target_user }}"

- name: Source Cargo in .profile
  ansible.builtin.lineinfile:
    path: "/home/{{ target_user }}/.profile"
    line: '. "$HOME/.cargo/env"'
    create: yes
    owner: "{{ target_user }}"

- name: Configure Rust in Staged Nushell Env
  ansible.builtin.blockinfile:
    path: "/home/{{ target_user }}/.ansible_nushell_env.nu"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (RUST)"
    create: yes
    block: |
      $env.PATH = ($env.PATH | prepend ($env.HOME + '/.cargo/bin'))
    owner: "{{ target_user }}"

# --- NODEJS / FNM SETUP ---
- name: Check if fnm is installed
  ansible.builtin.stat:
    path: "/home/{{ target_user }}/.fnm/fnm"
  register: fnm_check

- name: Download fnm installer
  ansible.builtin.get_url:
    url: https://fnm.vercel.app/install
    dest: /tmp/install_fnm.sh
    mode: '0755'
  when: not fnm_check.stat.exists

- name: Install fnm
  become: yes
  become_user: "{{ target_user }}"
  ansible.builtin.shell: /tmp/install_fnm.sh --install-dir "/home/{{ target_user }}/.fnm" --skip-shell
  when: not fnm_check.stat.exists

- name: Configure fnm in .bashrc
  ansible.builtin.blockinfile:
    path: "/home/{{ target_user }}/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (FNM)"
    block: |
      export PATH="/home/{{ target_user }}/.fnm:$HOME/.local/bin:$PATH"
      eval "`fnm env`"
    owner: "{{ target_user }}"

- name: Configure fnm in .profile
  ansible.builtin.blockinfile:
    path: "/home/{{ target_user }}/.profile"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (FNM)"
    block: |
      export PATH="/home/{{ target_user }}/.fnm:$HOME/.local/bin:$PATH"
      eval "`fnm env`"
    owner: "{{ target_user }}"

- name: Configure fnm in Staged Nushell Env
  ansible.builtin.blockinfile:
    path: "/home/{{ target_user }}/.ansible_nushell_env.nu"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (FNM)"
    create: yes
    block: |
      $env.PATH = ($env.PATH | prepend ($env.HOME + '/.fnm'))
      # Initialize fnm for nushell
      fnm env --json | from json | load-env
    owner: "{{ target_user }}"

- name: Check if Node is installed
  become: yes
  become_user: "{{ target_user }}"
  ansible.builtin.shell: |
    export PATH="/home/{{ target_user }}/.fnm:$PATH"
    eval "`fnm env`"
    node --version
  register: node_check
  failed_when: false
  changed_when: false

- name: Install Latest Node via fnm
  become: yes
  become_user: "{{ target_user }}"
  ansible.builtin.shell: |
    export PATH="/home/{{ target_user }}/.fnm:$PATH"
    eval "`fnm env`"
    fnm install --latest
    fnm default latest
  args:
    executable: /bin/bash
  when: node_check.rc != 0

# --- PULUMI SETUP ---
- name: Check if Pulumi is installed
  ansible.builtin.stat:
    path: "/home/{{ target_user }}/.pulumi/bin/pulumi"
  register: pulumi_check
  become: yes
  become_user: "{{ target_user }}"

- name: Download Pulumi installer script
  ansible.builtin.get_url:
    url: https://get.pulumi.com/
    dest: /tmp/install_pulumi.sh
    mode: '0755'
  when: not pulumi_check.stat.exists

- name: Install Pulumi
  become: yes
  become_user: "{{ target_user }}"
  ansible.builtin.shell: |
    /tmp/install_pulumi.sh
  args:
    creates: "/home/{{ target_user }}/.pulumi/bin/pulumi"
  when: not pulumi_check.stat.exists

- name: Add Pulumi to user .bashrc
  ansible.builtin.lineinfile:
    path: "/home/{{ target_user }}/.bashrc"
    regexp: 'export PATH=$PATH:$HOME/.pulumi/bin'
    line: 'export PATH=$PATH:$HOME/.pulumi/bin'
    create: yes
    owner: "{{ target_user }}"

- name: Add Pulumi to user .profile
  ansible.builtin.lineinfile:
    path: "/home/{{ target_user }}/.profile"
    regexp: 'export PATH=$PATH:$HOME/.pulumi/bin'
    line: 'export PATH=$PATH:$HOME/.pulumi/bin'
    create: yes
    owner: "{{ target_user }}"

- name: Configure Pulumi in Staged Nushell Env
  ansible.builtin.blockinfile:
    path: "/home/{{ target_user }}/.ansible_nushell_env.nu"
    marker: "# {mark} ANSIBLE MANAGED BLOCK (PULUMI)"
    create: yes
    block: |
      $env.PATH = ($env.PATH | prepend ($env.HOME + '/.pulumi/bin'))
    owner: "{{ target_user }}"

# --- HELM SETUP ---
- name: Check if Helm is installed
  ansible.builtin.stat:
    path: "/usr/local/bin/helm"
  register: helm_check

- name: Download Helm installer script
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get_helm.sh
    mode: '0755'
  when: not helm_check.stat.exists

- name: Install Helm
  ansible.builtin.shell: /tmp/get_helm.sh
  args:
    creates: /usr/local/bin/helm
  when: not helm_check.stat.exists

# --- MISE SETUP ---
- name: Check if mise is installed
  ansible.builtin.stat:
    path: "/home/{{ target_user }}/.local/bin/mise"
  register: mise_check

- name: Install mise
  become: yes
  become_user: "{{ target_user }}"
  ansible.builtin.shell: |
    curl https://mise.run | sh
  when: not mise_check.stat.exists

- name: Add mise to user .bashrc
  ansible.builtin.lineinfile:
    path: "/home/{{ target_user }}/.bashrc"
    line: 'eval "$(mise activate bash)"'
    create: yes
    owner: "{{ target_user }}"

- name: Add mise to user .profile
  ansible.builtin.lineinfile:
    path: "/home/{{ target_user }}/.profile"
    line: 'eval "$(mise activate bash)"'
    create: yes
    owner: "{{ target_user }}"